CT: hardcoded low get-entries limit, with 400 otherwise

https://github.com/google/trillian/blob/0147e742d0dcfc42dbb4a73ef577e9b49692f8b1/examples/ct/handlers.go#L50

crt.sh requires 1024 get-entries calls, so it should probably be configurable.

Also, if the client exceeds it, a truncated response should probably be returned instead of a 400.

Not should, but SHALL according to RFC6962 section 4.6:

>    Logs MAY restrict the number of entries that can be retrieved per "get-entries" request.  If a client requests more than the permitted number of entries, the log SHALL return the maximum number of entries permissible.  These entries SHALL be sequential beginning with the entry specified by "start".